/* Global Styles */

html,
body {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

p {
	line-height: 1.6
}

.no-padding {
	padding: 0;
}

.img-portfolio {
	margin-bottom: 30px;
}

.img-hover:hover {
	opacity: 0.8;
}

section {
	padding: 70px 0;
	position: relative;
}

.btn-nomad {
	background: #c59614;
	border-radius: 0;
	color: #fff;
	letter-spacing: 2px;
	padding-left: 7%;
	padding-right: 7%;
	text-transform: uppercase;
}

.page-header {
	border-bottom: none;
}

.color-blanco {
	color: #fff;
}

.color-amarillo {
	color: #c59614;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #c59614;
}

.panel-group .panel {
	border-radius: 0;
}

.fondo-imagen {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45%;
}

.intro-texto {
	padding: 8.5vw;
	text-align: center;
}

.filtro {
	background: #000;
	background: rgba(0, 0, 0, .2);
	height: 100%;
	width: 100%;
}

.programas h2:before,
.general h2:before {
	content: url(../img/left.png);
	left: -5px;
	position: absolute;
	top: -10px;
}

.programas h2:after,
.general h2:after {
	content: url(../img/right.png);
	position: absolute;
	right: -5px;
	top: -10px;
}

.general h2 {
	padding: 0 60px;
}

.general p {
	font-size: 24px;
	padding-top: 50px;
}

.border-right {
	border-right: 1px solid #ccc;
}

.border-right-gris {
	border-right: 1px solid #333333;
}

.border-left {
	border-left: 1px solid #ccc;
}

.border-left-gris {
	border-left: 1px solid #333333;
}

.bg-gris {
	background: #ccc;
}

.distancia-media {
	padding-top: 40px;
	padding-bottom: 60px;
}

.fade-out:after {
	content: url(../img/PixelNomad.png);
	background: rgba(255, 255, 255, 1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(9%, rgba(255, 255, 255, 1)), color-stop(73%, rgba(255, 255, 255, 0.84)), color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 0.84) 73%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 0.84) 73%, rgba(255, 255, 255, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
	position: absolute;
	bottom: -30px;
	width: 100%;
}

.fade-in:before {
	content: url(../img/PixelNomad.png);
	background: rgba(255, 255, 255, 0);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(22%, rgba(255, 255, 255, 0.62)), color-stop(66%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.62) 22%, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.62) 22%, rgba(255, 255, 255, 1) 66%, rgba(255, 255, 255, 1) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
	color: red;
	position: absolute;
	top: -30px;
	width: 100%;
}

.schatten-out {
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);
}

.schatten-in {
	box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, .5);
}


/*Header con logo desaparece en tablet y mobile*/

.header {
	min-height: 83px;
	padding-top: .8vw
}

.header p {
	margin: 0;
}

.header ul {
	padding: 0;
	padding-top: 11px;
}

.header li {
	display: inline-block;
	list-style: none;
	padding-right: 4px;
	font-size: 18px
}

.header td {
	border-left: 1px solid #000;
	padding: 2px 10px;
	vertical-align: middle;
}

.header td:first-child {
	border-left: none;
}


/*Navbar*/

.navbar {
	border-radius: 0px;
	border: 1px solid transparent;
	position: relative;
	margin-bottom: 0px;
	font-family: 'Montserrat', sans-serif;
}

.nav>li>a {
	position: relative;
	display: block;
	font-weight: 400;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
	background-color: transparent;
}

.navbar-toggle .icon-bar {
	height: 3px;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #c59614;
}

.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

.dropdown-menu li a {
	color: #fff;
}

.dropdown-menu li a i {
	padding-right: 8px;
}

.dropdown-menu li a:hover {
	background: transparent;
	color: #ccc;
}


/*solo para el mega menu*/

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
	position: static;
}

.yamm .container {
	position: relative;
}

.yamm .dropdown-menu {
	left: auto;
	background: #313035;
	color: #CCCCCC;
	border-top: 1px solid #fff;
	border-radius: 0px;
}

.yamm .yamm-content {
	padding: 20px 30px;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
	left: 0;
	right: 0;
}


/*fin para el mega menu*/

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	border-radius: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
}


/* Home Page Carousel */

header.carousel {
	height: 83%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
	height: 100%;
}

header.carousel .fill {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}


/*Buscardor header*/

header {
	position: relative;
}

.buscador {
	position: absolute;
	top: 24vw;
	left: 17%
}

.buscador h2 {
	color: #fff;
}

.buscador form {
	padding: 5px;
	background: #313035;
}

.buscador .form-control {
	text-transform: uppercase;
	border-radius: 0px;
}

.form-group input,
.form-group select,
.form-group .input-group-addon,
.form-group textarea {
	border-radius: 0px;
	background: #ccc;
	color: #000;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #000!important;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	/* Firefox 18- */
	color: #000!important;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	/* Firefox 19+ */
	color: #000!important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #000!important;
}

.form-control:focus {
	border-color: #c59614;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(197, 150, 20, .6);
}

.btn-buscador {
	background: #c59614;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0px;
	letter-spacing: 2px;
	padding-left: 20px;
	padding-right: 20px;
}


/*Participar*/

.participar {
	background-image: url(../img/mapa.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
	padding-top: 100px;
	padding-bottom: 10%;
}

.participar .tabs {
	background: #313035;
}

.tab-servicio {
	font-size: 16px;
	text-transform: uppercase;
}

.tab-servicio a {
	color: #fff;
}

.tab-servicio a:hover {
	color: #313035;
}

.nav-tabs.nav-justified>li>a {
	border-radius: 0px;
	border-bottom: none;
}

.pater {
	font-size: 1px;
	letter-spacing: -1px;
	width: 100%;
	/*o lo necesario*/
	margin: auto;
}

.pater div {
	display: inline-block;
	word-spacing: normal;
	font-size: 2rem;
	/*u otra unidad para IE8 y -*/
	letter-spacing: normal;
	white-space: normal;
	width: 16.6666667%;
	position: relative;
	overflow: hidden;
	/*El valor necesario*/
}

.pater .hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: transparent;
	-webkit-transition: all 700ms ease;
	transition: all 700ms ease;
	text-align: center;
	-webkit-transform: scale(2);
	transform: scale(2);
}

.pater .hover h4 {
	padding-top: 35%;
}

.pater .hover:hover {
	background: rgba(0, 0, 0, .8);
	color: #fff;
	-webkit-transition: all 700ms ease;
	transition: all 700ms ease;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.programas {
	margin-top: 100px;
}

.programas h2 {}

.programas p {
	padding-top: 50px;
	font-size: 24px;
}


/*Proyectos destacados*/

.proyectos h3 {
	margin: 15px 0 0 0;
}

.proyectos .caption {
	margin-bottom: 25px;
}

.proyectos .caption p {
	font-size: 20px;
	line-height: 1;
}

.proyectos .promo {
	color: #c59614;
	font-weight: 800;
	text-transform: uppercase;
}


/*Carusel Espiritu*/

#carousel-espiritu {
	background: #cccccc;
	padding: 20px 0;
}

.quote {
	color: #c59614;
	text-align: center;
	margin-bottom: 0px;
}

#fade-quote-carousel.carousel {
	padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-inner .active {
	opacity: 1;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

#fade-quote-carousel blockquote {
	text-align: center;
	border: none;
	font-style: italic;
	font-size: 24px;
}

#fade-quote-carousel .profile-circle {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	border-radius: 100px;
	border: 5px solid #c59614;
	background-color: #ccc;
}


/*Experienca-Completa*/

#experiencia-completa {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#experiencia-completa button {
	background: transparent;
	border: none;
}

#experiencia-completa button:focus {
	outline: none;
}

#experiencia-completa2 {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 100px 0;
}

#experiencia-completa2 button {
	background: transparent;
	border: none;
}

#experiencia-completa2 button:focus {
	outline: none;
}


/*Redes Nomad*/

#redes {
	background: url('../img/huella.png')no-repeat fixed;
	background-size: contain;
}

#redes h4 {
	border-bottom: 2px solid #000;
}

#redes .segundo {
	margin-top: 35px;
}

#redes .bloque {
	border-bottom: 1px solid #333333;
	margin-bottom: 10px;
}

.redes-titulo {
	font-size: 18px;
	font-weight: 800;
	margin: 0px;
}

.redes-titulo:hover {
	color: #333;
	text-decoration: none;
}

.fecha-redes {
	margin: 0px;
	padding-bottom: 6px;
}

#redes h5 {
	font-size: 17px;
	font-weight: 600;
	margin: 0px;
}

.redes-titulo-tw {
	font-size: 18px;
	margin: 0px;
}

#redes .bloque .fa-twitter,
#redes .bloque .fa-check-circle,
.liga-tw {
	color: #1aa1d4;
}


/*QuieneSomos Page*/

.crew-back {
	background: url('../img/huella.png')no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.crew {
	text-align: center;
	margin-bottom: 30px
}

.crew h3,
.crew h4 {
	margin: 0px;
	padding-top: 10px;
}

.crew h3 {
	font-size: 20px;
}

.crew .profile-circle {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 250px;
	border: 5px solid #c59614;
	background-color: #ccc;
}


/*Resultado de busqueda*/

.resultado {
	margin-bottom: 10px;
}

.resultado h2 {
	margin: 0px;
	padding-bottom: 10px
}

.resultado h4 {
	margin: 0px;
}

.resultado .costo p {
	font-size: 20px;
	margin: 0px;
}

.resultado .costo h5 {
	font-size: 20px;
	font-weight: 800;
	padding-bottom: 30px;
	margin: 0px;
}

.resultado .costo span {
	text-transform: uppercase;
}

#sticky {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#sticky label {
	text-transform: uppercase;
}


/*Single de  Proyectos*/

.imagenes {
	margin-bottom: 20px;
}

#singleCarousel .carousel-indicators {
	bottom: 0;
	left: 10px;
	margin-left: 5px;
	width: 100%;
}

#singleCarousel .carousel-indicators li {
	border: medium none;
	border-radius: 0;
	float: left;
	height: 44px;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 5px !important;
	margin-top: 0;
	width: 100px;
}

#singleCarousel .carousel-indicators img {
	border: 2px solid #FFFFFF;
	float: left;
	height: 44px;
	left: 0;
	width: 100px;
}

#singleCarousel .carousel-indicators .active img {
	border: 2px solid #39b3d7;
}

.single-left {
	margin-bottom: 20px;
}

.single-left p {
	margin-bottom: 25px;
	letter-spacing: .5px;
}

.single-left .itinerario {
	padding-top: 25px;
}

.single-left .panel-group .panel-heading {
	padding: 5px;
}

.single-left .panel-group a {
	display: block;
	line-height: 2;
	text-decoration: none;
	position: relative;
}

.single-left .panel-group a:hover,
.single-left .panel-group a:focus {
	color: #C59614;
}

.single-left i {
	position: absolute;
	right: 12px;
	top: 22%;
}

.single-left a[aria-expanded="true"] i {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.panel-nomad {
	border-bottom: 1px solid #ccc;
}

.unidad-icono {
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
}

.unidad-icono:last-child {
	border-bottom: none;
}


/*Blog y Blog-Post*/

.post-relacionados .btn-nomad {
	margin-top: 20px;
}

.single-post {
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	line-height: 1.6;
}

.distancia {
	margin-bottom: 40px;
}

.distancia p {
	margin: 0;
	font-size: 17px
}

.distancia h2 {
	margin-top: 0;
}


/*Eventos*/

.evento h2,
.evento h3 {
	margin: 0px;
}

.evento h3,
.evento h4 {
	font-weight: 400;
	text-transform: none;
}

.evento p {
	text-align: left;
	font-size: 17px
}

.evento a {
	margin-top: 10px;
	margin-bottom: 10px;
}

.evento {
	text-align: center;
	margin: 10px 0px;
}

.evento:last-child:after {
	content: " ";
}

.evento:after {
	content: url(../img/flechas.png);
	padding-left: 48.5%;
}


/*Embajadores*/

.embajadores form {
	margin-bottom: 15px;
}

.embajadores h2 {
	margin-bottom: 40px;
}


/*Press Room*/

.bloque-press h2 {
	margin-bottom: 25px
}

.press {
	margin-bottom: 15px;
}

.multimedia p {
	font-size: 22px;
	margin-bottom: 15px;
}

.multimedia-contact p {
	font-size: 22px;
	margin: 0px;
	line-height: 1;
}

.espacio {
	margin-bottom: 20px
}

.espacio ul {
	padding: 0px;
}

.espacio li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}


/*Grupos corp.*/

.grupo {
	background: url('../img/huella.png')no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.grupo p {
	font-size: 20px;
	margin-bottom: ;
}

.espacio-titulo {
	margin-bottom: 3vw;
}

.proyectos-corp .carousel-control.left,
.carousel-control.right {
	background-image: none !important;
	opacity: 1;
}

.proyectos-corp .carousel-control.left {
	top: 88%;
}

.proyectos-corp .carousel-control.right {
	top: 88%
}

.proyectos-cont {
	margin: 2vw 0;
	min-height: 10vw;
}

.proyectos-cont h2 {
	font-weight: normal;
	font-size: 25px;
	margin-top: 0;
}

.proyectos-cont h3 {
	margin-top: 0;
	font-size: 19px;
	text-transform: none;
}

.proyectos-cont h4 {
	margin: 0;
	font-size: 16px
}

.proyectos-cont h5 {
	font-size: 17px;
}

.proyectos-cont p {
	font-size: 14px;
	line-height: normal;
}

.aliados ul {
	padding: 0;
}

.aliados ul li {
	list-style: none;
	display: inline-block;
	width: 24.7%;
	height: auto;
	padding: 10px;
	vertical-align: middle;
}

.aliados ul li img {
	text-align: left;
}


/* 404 Page Styles */

.error-404 {
	font-size: 100px;
}


/* Pricing Page Styles */

.price {
	display: block;
	font-size: 50px;
	line-height: 50px;
}

.price sup {
	top: -20px;
	left: 2px;
	font-size: 20px;
}

.period {
	display: block;
	font-style: italic;
}


/* Footer Styles */

footer {
	padding: 50px 0;
	background: #313035;
}

footer h4 {
	font-weight: 100;
}

footer form {
	margin-bottom: 15px;
}

footer .form-inline .form-control {
	width: 255px;
}

footer ul {
	padding: 0px;
}

footer a {
	margin: 0px;
	text-transform: uppercase;
	color: #fff;
}

.direccion p {
	color: #fff;
	margin: 5px 0;
}

.direccion ul li {
	display: inline-block;
	padding-right: 10px;
	margin-top: 10px;
}


/*Modal*/

.modal-body {
	background: url(../img/huella.png);
	background-repeat: no-repeat;
}


/* Large desktops and laptops */

@media (min-width: 1200px) {}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
	.customer-img,
	.img-related {
		margin-bottom: 30px;
	}
	.buscador {
		bottom: 25%;
		left: 10%;
	}
	.pater div {
		width: 25%;
	}
	.border-right {
		border-right: none;
	}
	.border-left {
		border-left: none;
	}
	.filtro {
		background: #000;
		z-index: 2;
	}
	#sticky {
		border-bottom: 1px solid #ccc;
	}
	.abstand {
		margin-top: 10px;
	}
	.evento:after {
		padding-left: 47.5%;
	}
	.pater .hover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		background: rgba(0, 0, 0, .3);
		-webkit-transition: none;
		transition: none;
		text-align: center;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	.pater .hover h4 {
		padding-top: 35%;
		font-size: 15px;
	}
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
	.img-portfolio {
		margin-bottom: 15px;
	}
	header.carousel .carousel {
		height: 70%;
	}
	.programas h2:before,
	.general h2:before {
		content: '';
	}
	.programas h2:after,
	.general h2:after {
		content: '';
	}
	.buscador {
		bottom: 10%;
		left: 2%;
	}
	.pater div {
		width: 25%;
	}
	.border-right {
		border-right: none;
	}
	.border-left {
		border-left: none;
	}
	.border-left-gris {
		border-left: none;
	}
	.resultado {
		padding-bottom: 20px;
		border-bottom: 1px solid #ccc;
	}
	#sticky {
		border-bottom: 1px solid #ccc;
	}
	.abstand {
		margin-top: 10px;
	}
	.aliados ul li {
		width: 45%;
	}
	.pater .hover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		background: rgba(0, 0, 0, .3);
		-webkit-transition: none;
		transition: none;
		text-align: center;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	.pater .hover h4 {
		padding-top: 35%;
		font-size: 14px;
	}
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
	.buscador {
		bottom: 10%;
		left: 0;
		padding: 0 15px;
	}
	.pater div {
		width: 50%;
	}
	.border-right {
		border-right: none;
	}
	.border-left {
		border-left: none;
	}
	.border-left-gris {
		border-left: none;
	}
	#sticky {
		border-bottom: 1px solid #ccc;
	}
	.evento:after {
		padding-left: 45%;
	}
	.proyectos-corp .carousel-control.left {
		top: 43%;
	}
	.proyectos-corp .carousel-control.right {
		top: 43%;
	}
	.aliados ul li {
		width: 100%;
	}
	.pater .hover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		background: rgba(0, 0, 0, .3);
		-webkit-transition: none;
		transition: none;
		text-align: center;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	.pater .hover h4 {
		padding-top: 35%;
		font-size: 14px;
	}
}
